html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

h1 {
  margin: 8px;
  text-align: center;
  font-size: 28px;
}

p {
  margin: 4px;
  text-align: center;
}

#map {
  margin-top: 4px;
  flex: 1;
}
